* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 400;
  background-color: hsl(229, 57%, 11%);
  top: 0;
}

.wrapper {
  background-image: url("./assets/desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 63vh;
  width: 100vw;
  margin-top: 20.4rem;
}

.subContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  background-color: hsl(228, 56%, 26%);
  border-radius: 0.5rem 7rem 0.5rem 0.5rem;
  width: 20%;
  height: 12rem;
  padding: 0.7rem;
  margin-top: -5rem;
  margin-right: 1%;
}

.box1Icons {
  display: flex;
  justify-content: flex-start;
}

.icon {
  background-color: hsl(229, 57%, 11%);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
}

.box2 {
  display: flex;
  flex-direction: column;
  position: relative;
  color: hsl(243, 100%, 93%);
  background-color: hsl(228, 56%, 26%);
  border-radius: 0.5rem;
  width: 30%;
  height: 10rem;
  margin-top: -5rem;
  margin-left: 1%;
}

.warningBox {
  align-self: flex-end;
  align-content: center;

  color: hsl(229, 57%, 11%);
  text-align: center;
  font-weight: 700;
  background-color: white;
  margin-top: -3rem;
  margin-right: 2rem;

  position: relative;
  width: 175px;
  height: 80px;
  padding: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.warningBox:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 20px 0;
  border-color: white transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -20px;
  left: 122px;
}

.text1 {
  margin-top: 7%;
}

.bubbleText1 {
  font-size: 2rem;
  font-weight: 800;
}

.bubbleText2 {
  font-size: 0.7rem;
  font-weight: 600;
  color: hsl(229, 7%, 55%);
  margin: auto;
}

.bottomTextWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textBox {
  margin: 1.2rem;
}

.line {
  position: relative;
  background-color: hsl(229, 57%, 11%);
  border-radius: 3rem;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem auto 1rem auto;
}

.innerLine {
  position: absolute;
  background: rgb(220, 91, 145);
  background: linear-gradient(
    273deg,
    rgba(220, 91, 145, 1) 0%,
    rgba(255, 163, 153, 1) 100%
  );
  border-radius: 3rem;
  width: 80%;
  padding: 0.45rem;
  margin: -0.4rem;
}

.innerDot {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 1rem;
  padding: 0.5rem;
  margin-left: 25.5rem;
  margin-top: -0.5rem;
}

/* Media Queries */

@media screen and (max-width: 1100px) {
  .wrapper {
    background-image: url("./assets/mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 0rem;
  }

  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
  }

  .innerDot {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 1rem;
    padding: 0.5rem;
    margin-left: 13.5rem;
    margin-top: -0.5rem;
  }

  .box1 {
    width: 30%;
    margin-right: -1rem;
  }

  .box2 {
    width: 30%;
    height: 10rem;
    margin-top: 4rem;
    margin-left: 1%;
  }

  .warningBox {
    align-content: center;
    position: absolute;
    margin-top: 8rem;
    margin-right: 5rem;
  }

  .warningBox:after {
    content: none;
  }
}

@media screen and (min-width: 200px) {
  .wrapper {
    background-image: url("./assets/mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 0rem;
  }

  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
  }

  .innerDot {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 1rem;
    padding: 0.5rem;
    margin-left: 13.5rem;
    margin-top: -0.5rem;
  }

  .box1 {
    width: 30%;
    margin-right: -1rem;
  }

  .box2 {
    width: 30%;
    height: 10rem;
    margin-top: 4rem;
    margin-left: 1%;
  }

  .warningBox {
    align-content: center;
    position: absolute;
    margin-top: 8rem;
    margin-right: 5rem;
  }

  .warningBox:after {
    content: none;
  }
}
